Source: scibian-nvidia
Section: scibian
Priority: optional
Maintainer: Scibian Packaging Team <packaging@scibian.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
Vcs-Git: https://github.com/scibian/scibian-nvidia.git
Vcs-Browser: https://github.com/scibian/scibian-nvidia

Package: scibian-nvidia
Architecture: any
Description: Scibian package in case of NVIDIA driver usage 
